<img src="/images/sjoerd-langkemper-240.jpg" width="240px" alt="Sjoerd Langkemper">
<div class="icons"><a href="mailto:{{ site.email }}"><img src="/images/email.svg"></a><a href="https://stackoverflow.com/users/182971/sjoerd"><img src="/images/stackoverflow.svg"></a><a href="https://github.com/Sjord"><img src="/images/github.svg"></a><a href="https://nl.linkedin.com/in/sjoerd-langkemper-86075246"><img src="/images/linkedin.svg"></a><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="/images/rss.svg"></a></div>
<p>
  Sjoerd Langkemper works as a penetration tester on web applications in Haarlem, The Netherlands.
</p>
