<script src="https://unpkg.com/htmx.org@1.9.6"></script>
<h1>Welcome <span hx-get="username.php" hx-trigger="load"></span></h1>
<p>
Haxx0r ipsum loop class worm mountain dew infinite loop. Dennis Ritchie irc int socket perl memory leak protocol fatal /dev/null terminal wannabee gcc syn ddos void less stdio.h warez. Mainframe frack foo cat case root ctl-c Starcraft mailbomb private grep epoch gnu default while crack.
</p><p>
Less stack buffer eaten by a grue foo overflow gobble sql highjack big-endian wabbit system grep packet sniffer class concurrently brute force. Break long spoof break xss Linus Torvalds epoch win client wombat data blob shell afk loop. Else bubble sort bit pragma echo leet packet wannabee Starcraft.
</p><p>
January 1, 1970 buffer memory leak data bar deadlock sql for lib ctl-c tarball recursively root. Script kiddies null tera I'm compiling unix case all your base are belong to us nak void afk leapfrog overflow exception break. Script kiddies cat suitably small values python fopen flush bypass.
</p>
